<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Ma Tai zai Zhong Guo - Hong Kong Confusion</title>        
        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://china.matthewrudy.com/rss"/>
        <link rel="icon" href="http://assets.tumblr.com/images/default_avatar_16.gif"/>

        <!-- iPhone -->
        <meta name="viewport" content="width=860"/>

        <link rel="apple-touch-icon" href="http://assets.tumblr.com/images/default_avatar_128.gif"/>
        
        <!-- DEFAULT COLORS -->
        <meta name="color:Alternate Text" content="#bfad8a"/>
        <!-- END DEFAULT COLORS -->        

        <style type="text/css">
            * {
	            margin: 0;
	            padding: 0;
	            list-style-type: none;
	        }

            body {
	            /*background: #000 url('/themes/11/bg.jpg') fixed center top;*/
                    background : #AA0000 ;
	            font-family: arial,san-serif;
	            font-size: 12px;
	            color: #949494;
	            text-align: center;
	        }

            #outer-container { /* the banner and such */
                    width : 1000px ;
                    margin : 0 auto;
                    text-align : left;
                }
            #container {
	            width: 840px;
	            margin: 0 auto;
	            text-align: left;
	        }
            #chinese-title {
                    float: left;
                    font-size: 75px;
                    width: 80px;
                    color: white;
                    margin : 10px;
                }
	        
            .regular, .photo, .quote, .link, .conversation, .video, .audio, .metabox {
	            padding: 10px;
	        }

            .post {
	            /* width: 270px; */
	            /* height: 350px; */
	            /* float: left; */
	            background: url('/themes/11/shade.png');
	            margin-right: 10px;
	            margin-bottom: 10px;
	            position: relative;
	            overflow: hidden;
	        }

            .post:hover {
	            background: #000;
	        }

            .permalink {
	            border-width: 0px;
	            width: 100px;
	            height: 11px;
	            line-height: 11px;
	            position: absolute;
	            bottom: 10px;
	            right: 10px;
	            color: #333;
	            text-align: right;
	        }
	        
            .permalink a {
	            color: #333;
	            border-bottom: 1px dotted #333;
	            font-size: 11px;
	        }
	        
            .permalink a:hover {
	            color: #bfad8a;
	            border-bottom: 1px solid #bfad8a;
	        }
	        
            .photobox {
	            width: 250px;
	            height: 150px;
	            overflow: hidden;
	            margin-bottom: 10px;
	        }

            .audio .photobox {
	            background: #111;
	        }

            .player {
	            padding: 60px 20px;
	            border: 1px solid #222;
	        }

            .video .caption {
	            padding-top: 10px;
	        }

            .quotetext {
	            font-size: 22px;
	            font-family: Georgia;
	            line-height: 22px;
	            padding-bottom: 11px;
	            color: #bfad8a;
	        }

            .source {
	            font-family: arial;
	            font-size: 11px;
	            text-align: right;
	            color: #666;
	        }

            .caption {
	            line-height: 18px;
	        }

            .conversation ul li {
	            line-height: 18px;
	            border-bottom: 1px dotted #222;
	            padding: 3px 0 3px 0px;
	        }
	        
            .conversation ul li span {
	            color: #bfad8a;
	        }

            .even {
	            border-bottom: 1px dotted #222;
	        }
	        
            ol li {
                list-style: decimal outside;
                margin: 0 0 0 20px;
                padding: 0 0 5px 0
            }

            a {
	            color: #bfad8a;
	            border-bottom: 1px dotted #443e31;
	            text-decoration: none;
	        }

            a:hover {
	            color: #CAC9C8;
	            border-bottom: 1px solid #3F3F3F;
	        }

            p {
	            line-height: 18px;
	            margin-bottom: 9px;
	        }

            .photo strong, .photo b, .video strong, .video b, .audio strong, .audio b{
	            font-family: Georgia;
	            font-weight: normal;
	            font-size: 17px;
	            line-height: 18px;
	            color: #bfad8a;
	        }

            h1 {
	            font-family: Georgia;
	            font-weight: normal;
	            font-size: 17px;
	            line-height: 18px;
	            padding: 0 0 9px 0;
	        }

            #header {
	            padding: 40px 0 60px 0;
	            position: relative;
	        }

                #header h1 {
    	            width: 297px;
    	        }

                    #header h1 a {
        	            color: #ddd;
        	            font-style: italic;
        	            border: 0;
        	            font-size: 18px;
        	            line-height: 16px;
        	        }

                        #header h1 a:hover {
            	            color: #fff;
            	        }
        		
							#header h2 {
								color: #bfad8a;
								font: italic normal 1.2em/1.8 Georgia, serif;
							}

                #header ul {
	                position: absolute;
	                left: 550px;
	                top: 40px;
	            }

                    #header ul li {
    	                display: inline;
    	            }

												#header ul li form {
													display: inline;
												}
												
													#header ul li form #searchbox {
														background: #000;
														border: 1px solid #bfad8a;
														opacity: 0.7;
														color: #fff;
													}
													
													#header ul li form #submitsearch {
														display: none;
													}

                        #header ul li a {
        	                font-family: georgia;
        	                color: #ddd;
        	                font-style: italic;
        	                border-bottom: 1px dotted #999;
        	                margin-right: 11px;
        	            }

                            #header ul li a:hover {
	                            color: #fff;
	                            border-bottom: 1px solid #fff;
	                        }

            #navigation, .meta {
                text-align: center;
                height: 350px;
                float: left;
                width: 270px;
                background: url('/themes/11/shade.png');
            }

                #navigation a {
                    border: 0;
                    padding: 3px 8px;
                    background: #222;
                }

                    #navigation a:hover {
                        background: #333;
                    }

                    .pages {
                        font-family: Georgia;
                        font-size: 11px;
                        padding-bottom: 48px;
                    }

                        .pages span {
                            font-size: 110px;
                        }

            .total {
	            color: #333;
	        }

            #footer {
	            clear: both;
	            padding: 40px 0;
	            text-align: left;
	        }

            body#perm #navigation {
	            display: none;
	        }

            body#perm .post {
	            width: 550px;
	        }

            body#perm .photobox, body#perm .videobox {
	            float: right;
	            margin-left: 10px;
	        }

            .meta {
	            display: none;
	        }

            body#perm .meta {
	            display: block;
	            text-align: left;
	        }

            body#perm .permalink {
	            display: none;
	        }

            .meta span, h3 {
	            text-transform: uppercase;
	            font-size: 10px;
	            color: #bfad8a;
	            display: block;
	            line-height: 18px;
	        }
	
					#searchresultcount {
						text-align: left;
						margin-bottom: 20px;
						color: #bfad8a;
					}
	
					.query { font-weight: bold; }
	        
	        
        </style>

        <!--[if IE]>
            <style type="text/css">
                .post, #navigation, .meta { background:#010101; }
								#header ul li form #searchbox { filter: alpha(opacity=70); }
            </style>
        <![endif]-->
    </head>
    <body id="perm">	
       <div id="outer-container">

        <div id="chinese-title">马泰在中国</div>		
        <div id="container">     
        	<div id="header">
                <h1><a href="/">Ma Tai zai Zhong Guo</a></h1>
								<h2>when China met Matthew Rudy</h2>
                  <%= yield %>
        	</div>
        </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8527008-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
